<header>

  <img src="assets/images/mancavelogo.png">

  <div class="products-title">
    <span>M</span>AN<span>C</span>AVE<span>S</span>AVE
  </div>

  <div class="products-right">
    <div class="login-link">
      <div class="new-link">
        <a ui-sref="register">Sign Up</a>
      </div>

    </div>
  </div>
</header>











<div class="full">

<div class="register">

  <form ng-submit="loginCtrl.login()">

    <div class="email">
      Email:
      <input type="text" placeholder="Email" ng-model="loginCtrl.newUser.email">
    </div>
    <div class="password">
      Password:
      <input type="password" placeholder="Password" ng-model="loginCtrl.newUser.password">
    </div>
  <div class="snap">
    <input type="submit" value="Login">
  </div>
  </form>


</div>
</div>

<div class="login-right">
<div class="login-letter">
1. Please enter your full email address.
<br>
<br>


2. Please enter a password for your account.
</div>
</div>
