<header>

  <img src="assets/images/mancavelogo.png">

  <div class="products-title">
    <span>M</span>AN<span>C</span>AVE<span>S</span>AVE
  </div>

  <div class="products-right">
    <div class="your-name">
      {{ productsCtrl.user.password.email }}
    </div>
    <button ng-click="productsCtrl.logout()">
      Sign Out
    </button>
  </div>
</header>


<div class="deets">
<div class="detail-name">
{{ viewCtrl.product.title }}
</div>
<br>
<br>
<div class="detail-pic">
<img src=" {{ viewCtrl.product.image }}">
</div>
</div>

<div class="detail-description">
{{ viewCtrl.product.description }}

<p>
<a href="mailto:{{ viewCtrl.product.contact_email }}?Subject=I'm interested in buying your {{ viewCtrl.product.title }}">Contact Vendor</a>
</p>

</div>
</body>
